* {
    box-sizing: border-box;
}
body {
    background-color: black;
    width: 800px;
}

#inicio {
    background-color: rebeccapurple;
    text-align: center;
    border-bottom: solid green 5px;
    margin: 0;
    padding: 10px;
}
h1 {
    margin: 0;
    padding: 0;
}
ul {
    background-color: white;
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: black;
    width: 100%;
    padding: 8px;
}
a:hover {
    background-color: rebeccapurple;
}
.navegar>ul {
    display: inline-block;
    vertical-align: top;
    width: 398px;
}